@model Post
@{
	var imageUrl = string.IsNullOrWhiteSpace(Model.ImageUrl)
				? "https://via.placeholder.com/1368x800?text=Thumbnail"
				: $"/{Model.ImageUrl}";

}
<div class="pt-4">
    @if (Model.Published)
    {

        <div class="text-center ">
            <img src="@imageUrl"
                 class="img-fluid center round post-img"
                 alt="@Model.Title" />
        </div>
        <div class=" col-md-8 m-4">
            <div class="card-body">
                <a asp-controller="blog"
                   asp-action="post"
                   asp-route-year="@Model.PostedDate.Year"
                   asp-route-month="@Model.PostedDate.Month"
                   asp-route-day="@Model.PostedDate.Day"
                   asp-route-slug="@Model.UrlSlug"
                   class="text-decoration-none">
                    <h5 class="card-title">
                        @Model.Title
                    </h5>
                </a>

                <p class="card-text">
                    <small class="text-muted">
                        Tác giả:
                    </small>
                    <a asp-controller="blog"
                       asp-action="author"
                       asp-route-slug="@Model.Author.UrlSlug"
                       class="text-decoration-none">
                        <span class="text-primary">

                            @Model.Author.FullName
                        </span>
                    </a>

                    <small class="text-muted">
                        Chủ đề:
                    </small>
                    <a asp-controller="blog"
                       asp-action="category"
                       asp-route-slug="@Model.Category.UrlSlug"
                       class="text-decoration-none">
                        <span class="text-primary">

                            @Model.Category.Name
                        </span>
                    </a>

                </p>
                <p class="card-text">
                    @Html.Raw(Model.Description)
                </p>
                <div class="tag-list">
                    <partial name="_TagList" model="@Model.Tags" />
                </div>


            </div>
        </div>

    }
    else
    {
        <div class="text-center ">
            <h3 class="card-subtitle">
                Bài viết chưa được xuất bản
            </h3>
        </div>
    }
</div>