@model TatBlog.WebApp.Areas.Admin.Models.PostFilterModel
@{
    ViewData["PageTitle"] = "Danh sách bài viết";

    var postsList = ViewBag.PostsList as IPagedList<Post>;
    var postQuery = ViewBag.PostQuery as IPagedList<Post>;
}

<h1>Danh sách bài viết</h1>

<partial name="_PostFilterPane" model="Model" />

@if (postsList != null && postsList.Count > 0)
{
    <table class="table table-responsive table-striped border-1 mt-4">
        <thead>
            <tr>
                <th>Tiêu đề</th>
                <th>Tác giả</th>
                <th>Chủ đề</th>
                <th>Xuất bản</th>
                <th>Xóa</th>
            </tr>
        </thead>

        <tbody>
            @foreach (var post in postsList)
            {
                <tr>
                    <td>
                        <a asp-area="Admin"
                   asp-controller="Posts"
                   asp-action="Edit"
                   asp-route-id="@post.Id"
                           class="fw-bold">
                            @post.Title
                        </a>

                        <p class="text-muted">@post.ShortDescription</p>
                    </td>
                    <td>
                        @post.Author.FullName
                    </td>
                    <td>
                        @post.Category.Name
                    </td>
                    <td>
                        <form id="form-published" asp-controller="Posts"
                      asp-area="Admin"
                      asp-controller="Posts"
                      asp-action="ChangePublished"
                      asp-route-id="@post.Id"
                              enctype="multipart/form-data"
                              method="post">
                            <div class="form-check">
                                <input class="form-check-input"
                               type="checkbox"
                               asp-for="@post.Published"
                                       onchange="this.form.submit()" />
                            </div>

                        </form>
                    </td>
                    <td>
                        <a asp-controller="Posts"
                   asp-area="Admin"
                   asp-controller="Posts"
                   asp-action="DeletePost"
                   asp-route-id="@post.Id"
                        class="btn btn-danger">
                            <i class="fa fa-trash-o" aria-hidden="true"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div class="text-center">
        @await Html.PartialAsync("_LoadMore", postsList)
    </div>
}
else
{
    <h1 class="text-danger">Không tìm thấy bài viết nào</h1>
}

